<h4>Episodes</h4>

<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
    Seasons<span class="caret"></span>
    </a>
      <ul class="dropdown-menu">
        <li><%= link_to "All", series_path(@series.series_title) %></li>
        <li role="presentation" class="divider"></li>
        <% (1..@num_of_seasons).each do |i| %>
        <li><%= link_to "Season #{i}", episodes_by_season_path(series_title: @series.series_title, season_num: i) %></li>
        <%end%>
      </ul>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th class="std-col">Episode Title</th>
      <th class="sml-col">Season</th>
      <th class="sml-col">Episode</th>
      <th class="long-col">Episode Summary</th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td class="std-col"><%= link_to episode.episode_title, episode %></td>
        <td class="sml-col"><%= episode.season_number %></td>
        <td class="sml-col"><%= episode.episode_number %></td>
        <td class="long-col"><%= raw episode.episode_summary.truncate(200) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
