<h3>Episodes</h3>

<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
    Seasons<span class="caret"></span>
    </a>
      <ul class="dropdown-menu">
        <li><%= link_to "All", series_path(@series.series_title) %></li>
        <li role="presentation" class="divider"></li>
        <% (1..@num_of_seasons).each do |i| %>
        <li><%= link_to "Season #{i}", episodes_by_season_path(series_title: @series.series_title, season_num: i) %></li>
        <%end%>
      </ul>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th>Series Title</th>
      <th>Episode Title</th>
      <th>Season Number</th>
      <th>Episode Number</th>
      <th>Episode Summary</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.series.series_title %></td>
        <td><%= link_to episode.episode_title, episode %></td>
        <td><%= episode.season_number %></td>
        <td><%= episode.episode_number %></td>
        <td><%= raw episode.episode_summary.truncate(200) %></td>
        <td><% link_to 'Show', episode %></td>
        <td><% link_to 'Edit', edit_episode_path(episode) %></td>
        <td><% link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
