<p>
  <strong>Series Title:</strong>
  <%= @episode.series.series_title %>
</p>


<p>
  <strong>Episode Title:</strong>
  <%= @episode.episode_title %>
</p>

<p>
  <strong>Season Number:</strong>
  <%= @episode.season_number %>
</p>

<p>
  <strong>Episode Number:</strong>
  <%= @episode.episode_number %>
</p>

<p>
  <strong>Episode Summary:</strong>
  <%= @episode.episode_summary %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
