<p id="notice"><%= notice %></p>

<h1>Guest Stars</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guest_stars.each do |guest_star| %>
      <tr>
        <td><%= guest_star.first_name %></td>
        <td><%= guest_star.last_name %></td>
        <td><%= guest_star.image %></td>
        <td><%= link_to 'Show', guest_star %></td>
        <td><%= link_to 'Edit', edit_guest_star_path(guest_star) %></td>
        <td><%= link_to 'Destroy', guest_star, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest Star', new_guest_star_path %>
