<div class="container">
  <div class="bottom-margin-30">
    <div class="bottom-margin-15">
      <h3><%= @series.series_title %></h3>
      <i class="fa fa-arrow-left" aria-hidden="true"></i><%= link_to 'Back to Series', series_index_path %>
    </div>

  <div class="row">
    <div class="col-xs-2">
      <p><strong>Genre:</strong> <%= @series.genre %></p>
    </div>
    <div class="col-xs-2">
      <p><strong>Rating:</strong><%= @series.rating %></p>
    </div>
  </div>

  <p>
    <strong>Summary:</strong>
    <%= @series.summary %>
  </p>
  </div>
  <div class="details">
    <%= render partial: "shared/episodes", locals: {episodes: @episodes} %>
  </div>
</div>
