<p id="notice"><%= notice %></p>

<p>
  <strong>Series name:</strong>
  <%= @series.series_name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @series.genre %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @series.summary %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @series.rating %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
