<!DOCTYPE html>
<html>
  <head>
    <title>Guest Stars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/cerulean-bootswatch-theme.css">

<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Guest Stars</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <%= form_tag("/search", method: 'get', :enforce_utf8 => false, :class => "navbar-form navbar-nav", :role => "form" )  do %>
              <div class="form-group">
                <%= text_field_tag :query, params[:query], placeholder: "Search", :class => "form-control" %>
                <%= submit_tag "Go", :name => nil, :class => "btn btn-default" %>
              </div>
              <% end %>


          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Series", series_index_path, "role" => "menuitem", "tabindex" => "-1" %></li>
                <li> <%= link_to "Guest Stars", guest_stars_path, "role" => "menuitem", "tabindex" => "-1" %></li>
                <li class="divider"></li>
                <% if user_signed_in? %>
                <li role="presentation">
                  <%= link_to 'Edit profile', edit_user_registration_path,"role" => "menuitem", "tabindex" => "-1" %></li>
                <li role="presentation">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, "role" => "menuitem", "tabindex" => "-1" %></li>
              <% else %>
                <li role="presentation">
                  <%= link_to "Sign up", new_user_registration_path, "role" => "menuitem", "tabindex" => "-1" %></li>
                <li role="presentation">
                  <%= link_to "Login", new_user_session_path, "role" => "menuitem", "tabindex" => "-1"  %></li>
               <% end %>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= alert %>
    </div>
    <% end %>

      <%= yield %>
      </div>

    <div class="container">
      <div class="footer">
        <img class="pull-right" src="https://www.themoviedb.org/assets/static_cache/fd6543b66d4fd736a628af57a75bbfda/images/v4/logos/293x302-powered-by-square-blue.png" height="60" width="60">
      </div>
    </div>

  </body>
</html>
