<!DOCTYPE html>
<html>
  <head>
    <title>Guest Stars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/cerulean-bootswatch-theme.css">

<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <div class="pull-right">
        <div class="dropdown">
          <button id="dropdownMenu1" class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown" aria-expanded="true">
  Menu<span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <%= link_to "Series", series_index_path, "role" => "menuitem", "tabindex" => "-1" %></li>
            <li role="presentation">
              <%= link_to "Guest Stars", guest_stars_path, "role" => "menuitem", "tabindex" => "-1" %></li>
            <li role="presentation" class="divider"></li>
            <% if user_signed_in? %>
              <li role="presentation">
                <%= link_to 'Edit profile', edit_user_registration_path,"role" => "menuitem", "tabindex" => "-1" %></li>
              <li role="presentation">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, "role" => "menuitem", "tabindex" => "-1" %></li>
            <% else %>
              <li role="presentation">
                <%= link_to "Sign up", new_user_registration_path, "role" => "menuitem", "tabindex" => "-1" %></li>
              <li role="presentation">
                <%= link_to "Login", new_user_session_path, "role" => "menuitem", "tabindex" => "-1"  %></li>
             <% end %>
          </ul>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
